/* CSS BY [Meaghan Gunderson] */

/* CSS RESET */ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */


/* ROOT VARIABLES */
/* GLOBAL STYLES (mobile first/small) */

/* IMPORTED FONTS */ @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

 html {
	background-color: #6b8fe7;
 }


header {
	color:white;
	background-color: #484FB7;
	padding:10px;

}

header p {
	font-size: 1em;
	text-align: center;
	font-style: italic;
	font-family: inter;
	color: #ffff;
	margin: auto;

}

a {
	text-decoration: none;
}

body {
	width: 400px;
	margin: 10px 500px;
	background-color: #484FB7;
}



h1 {
    font-family: Kavoon;
	color:white;
	padding: 10px;
	margin-bottom: 1px;

}


h2 {
    font-size: 2em;
	font-family: "Kavoon";
	color: #ffff;
	padding: 10px;
}

nav {
	background-color: #E9BB57;
	padding: 10px;
}

.Menu a {
	display: grid;
	text-transform: uppercase;
	text-decoration: none;
	font-family: inter;
	font-weight: bold;
	background-color: #ffff;
	border-radius: none;
	justify-content: center;
	color: #484FB7;
}


nav h2 {
    font-size: 1.5em;
	text-transform: uppercase;
	font-style: italic;
	text-align: center;
	font-family: inter;
	color: #1E1E1E;
	font-weight: bold;
	background-color: #E9BB57;
	justify-content: center;
}


p {
	font-size: 1em;
	color: #1E1E1E;
	font-family: inter;
}

h1 {
    font-size: 3em;
    color: #ffff;
}



h3 {
    font-size: 1.5em;
	margin: 5px;
	padding:5px;
    color:#E9BB57; 
	font-family: inter;
}

h4 {
    font-size: 1.15em;
	font-family: inter;
	margin: auto;
	color: #484FB7;
}


div {
	background-color: #ffff;
	padding: 15px;
	margin: 15px;
	border: none;
	border-radius: 10px;
}

img {
	padding: 10px;

}

.Why {
	background-color: #D9526F;
	color: #ffff;
	font-family: "Kavoon";
	padding: 10px;
}

.box {
	display: flexbox;
}


#person {
	background-color: teal;
	font-weight: bolder;
}

#proven {
	background-color: #6b8fe7;
	font-weight: bolder;
}

#support {
	background-color: #E9BB57;
	font-weight: bolder;
}

#flexible {
	background-color: #ffff;
	font-weight: bolder;
}

.First {
	background-color: #D9526F;
	color: #ffff;
}

.First h2 {
	margin: 10px;
	color: #ffff;
}


.First p {
	color: #ffff;
}


table {
	background-color: #E9BB57;
}

td {
	background-color: #ffff;

}


#Now {
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	font-family: inter;
	margin: 4px 2px;
	padding: 10px 20px;
	color: #1E1E1E;
	border-radius: 15px;
	cursor: pointer;
	background-color:#ffff;
}

 #Now a {
	text-decoration: none;
	color: #1E1E1E;
	font-weight: bold;
	text-transform: uppercase;
}

footer {
	color: white;
	align-content: center;
	background-color: #484FB7;
}


footer p {
	color: #ffff;
	display: inline-block;
	text-decoration: none;
	font-size: smaller;
	margin: 20px;
	padding:
}





