/* CSS BY [Meaghan Gunderson] */

/* CSS RESET */ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */


/* ROOT VARIABLES */
/* GLOBAL STYLES (mobile first/small) */

/* IMPORTED FONTS */ @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

 html {
	background-color: #6b8fe7;
 }


header {
	color:white;
	background-color: #484FB7;
	font-family: Kavoon;
}

body {
	width: 400px;
	margin: 500px;
	background-color: #484FB7;
}

section div {
	background-color: #ffff;
	padding: 100px;
	margin: 100px;
	border: 10px solid white;
	border-radius: 2px;
}

h1 {
    font-family: Kavoon;
	color:white;
}

nav {
	display: block;
	font-style: oblique;
	background-color: #E9BB57;
	justify-content: center;
	color: #484FB7;
}


h2 {
    font-size: 2em;
	font-style: oblique;
	color: #1E1E1E;

}

p {
	display: block;
	font-size: 1em;
}

h1 {
    font-size: 3em;
    color: #ffff;
}

nav h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
	color: #1E1E1E;
}

h3 {
    font-size: 1.5em;
    color:#E9BB57; 
}

h4 {
    font-size: 1.15em;
}

img {
	padding: 10px;
	margin: 20px;

}



 #link {
	display: button;
	box-shadow: #1E1E1E;
	background-color:#ffff;
}


footer {
	color: white;
	font-size: smaller;
	background-color: #484FB7;
}


Pink:#D9526F;
Dark-gray:#1E1E1E; 





