/* CSS BY [Meaghan Gunderson] */

/* CSS RESET */ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */


/* ROOT VARIABLES */
/* GLOBAL STYLES (mobile first/small) */

/* IMPORTED FONTS */ @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

 html {
	background-color: #6b8fe7;
 }


header {
	color:white;
	background-color: #484FB7;
}

header p {
	font-size: 1em;
	color: #ffff;
	margin-bottom: 10px;
}

body {
	width: 400px;
	margin: 500px;
	background-color: #484FB7;
}


h1 {
    font-family: Kavoon;
	color:white;
	padding: 20px;

}

nav a {
	display: grid;
	text-decoration: none;
	font-weight: bold;
	background-color: #E9BB57;
	justify-content: center;
	color: #484FB7;
}


nav h2 {
    font-size: 1.5em;
	color: #1E1E1E;
	font-weight: bold;
	background-color: #E9BB57;
	justify-content: center;
}


h2 {
    font-size: 2em;
}

p {
	font-size: 1em;
	color: #1E1E1E;
}

h1 {
    font-size: 3em;
    color: #ffff;
}



h3 {
    font-size: 1.5em;
	margin: 5px;
	padding:5px;
    color:#E9BB57; 
	font-family: inter;
}

h4 {
    font-size: 1.15em;
	margin: auto;
	color: #484FB7;
}


div {
	background-color: #ffff;
	padding: 15px;
	margin: 15px;
	border: none;
}

img {
	padding: 10px;

}

.First {
	background-color: #D9526F;
	color: #ffff;
}


	

#Now {
	display: inline-block;
	text-align: center;
	margin: 4px 2px;
	padding: 10px 20px;
	color: #1E1E1E;
	border: none;
	border-radius: 20px;
	box-shadow: #1E1E1E;
	cursor: pointer;
	background-color:#ffff;
}


footer {
	color: white;
	display: inline-block;
	align-content: center;
	font-size: smaller;
	background-color: #484FB7;
}








